In [84]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import  TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [85]:
data=pd.read_csv('mail_data.csv')
data.head(5)

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [86]:
data.isnull().sum()

Category    0
Message     0
dtype: int64

In [87]:
data=data.fillna('')

In [88]:
data.shape

(5572, 2)

In [89]:
def change(x):
    if(x=='spam'):
        return 0
    else:
        return 1

In [90]:
# data.loc[data['Category']=='spam','Category',]=0
# data.loc[data['Category']=='ham','Category',]=1

In [91]:
data['Category']=data['Category'].apply(change)

In [92]:
x=data['Message']
y=data['Category']

In [93]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=100)

# Feature Extraction

In [94]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)

x_train_features=feature_extraction.fit_transform(x_train)
x_test_features=feature_extraction.transform(x_test)
y_train=y_train.astype('int')
y_test=y_test.astype(
'int'
)

In [95]:
print(x_train_features)

  (0, 3522)	0.721730272534996
  (0, 6779)	0.6921744098899935
  (1, 5248)	0.19934985004557917
  (1, 541)	0.24523363322642908
  (1, 1632)	0.2047406474170745
  (1, 265)	0.22779998730235707
  (1, 3179)	0.21759045599982588
  (1, 7314)	0.19613371444628183
  (1, 286)	0.30919361692999664
  (1, 744)	0.300586683959204
  (1, 508)	0.30919361692999664
  (1, 305)	0.30919361692999664
  (1, 57)	0.30919361692999664
  (1, 2914)	0.2876085182444637
  (1, 5545)	0.2738511081971566
  (1, 5847)	0.21177302370226905
  (1, 2078)	0.21255226803483587
  (2, 4086)	0.5608408313794364
  (2, 986)	0.8279236449441595
  (3, 2762)	0.3825498875034997
  (3, 2763)	0.3825498875034997
  (3, 4611)	0.3825498875034997
  (3, 5952)	0.3825498875034997
  (3, 6071)	0.24677814794205735
  (3, 7053)	0.3825498875034997
  :	:
  (4451, 3987)	0.27281976968999944
  (4451, 6681)	0.17266061183824669
  (4451, 5439)	0.27281976968999944
  (4451, 6065)	0.27601351205352903
  (4452, 3195)	0.7007412852819547
  (4452, 4118)	0.7134154828018484
  (4453, 2684)	0.630973049539328
  (4453, 3438)	0.5805875348626511
  (4453, 2252)	0.5145785898355572
  (4454, 3257)	0.4447109050996967
  (4454, 952)	0.4447109050996967
  (4454, 3254)	0.4447109050996967
  (4454, 4624)	0.3418268055072424
  (4454, 7199)	0.25148426381549266
  (4454, 7198)	0.38074286857269374
  (4454, 4443)	0.2857299437881089
  (4455, 2252)	0.7154095131881651
  (4455, 6649)	0.6987053945976605
  (4456, 5998)	0.45887764012800103
  (4456, 3394)	0.45887764012800103
  (4456, 5051)	0.410599945434178
  (4456, 3095)	0.36447308749956875
  (4456, 5509)	0.32174664704282446
  (4456, 3753)	0.19417849876751417
  (4456, 7154)	0.36905755894194875

In [96]:
model=LogisticRegression()

In [97]:
model.fit(x_train_features,y_train)

LogisticRegression()

In [98]:
prediction=model.predict(x_test_features)

In [99]:
accuracy_score(prediction,y_test)

0.9596412556053812

In [100]:
e=feature_extraction.transform([str.lower("Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...")])
model.predict(e)

array([1])